<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webgame</title>
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body ng-app="app" ng-controller="appCtrl" ng-cloak>

<div class="panel" ng-show="debug">
    <button ng-click="coins = coins+10000">+10000 raptors</button>
</div>

<div class="panel items">
    You have <strong>{{coins}}</strong> raptors 
    <span ng-repeat="item in items" ng-show="item.have > 0">
        , <strong>{{item.have}}</strong> {{item.name}}
    </span>
    <div>You catch <strong>{{coinRate}}</strong> raptors per second</div>
</div>

<div class="panel">
    <button ng-click="drop()">Release the raptors!</button>
    <button ng-repeat="(i, item) in items" ng-click="buy(i)" ng-show="item.available">
        buy a {{item.name}} [{{item.price}}]
    </button>
</div>

<div class="panel" ng-show="stage >= 1">
    <img src="http://i.imgur.com/fU2bm9c.gif" alt="">
</div>

<script src="assets/lib/angular/angular.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>